<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">View Contact
        
                </p>
                <p class="fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium in cupiditate molestias ut esse earum accusamus optio quisquam illum minus amet, expedita omnis cumque beatae qui asperiores voluptates voluptas eum!</p>
        

        </div>
    </div>
</div>

<div class="container" *ngIf="contact as user">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img [src]="user.photo" class="contact-img-big" alt="">

        </div>
        <div class="col-sm-6">
            <ul class="list-group">

                <li class="list-group-item list-group-item-danger">Name:  <span class="fw-bold">{{ user.name }}</span></li>
                <li class="list-group-item list-group-item-danger">Email:  <span class="fw-bold">{{ user.email }}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile:  <span class="fw-bold">{{ user.mobile }}</span></li>
                <li class="list-group-item list-group-item-danger">Company:  <span class="fw-bold">{{ user.company }}</span></li>
                <li class="list-group-item list-group-item-danger">Title:  <span class="fw-bold">{{ user.title }}</span></li>
                <li class="list-group-item list-group-item-danger" *ngIf="group">Group:  <span class="fw-bold">{{ group.name }}</span></li>
             </ul>


        </div>
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="/" class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Back</a>

        </div>
    </div>
   
</div>
